    body{
        background-image: url(../img/back.png);
        background-repeat: round;
        min-height: 100%;
		padding: 0;
		margin: 0;
        background-attachment: fixed;
        box-sizing: border-box;
        background-size: cover;
    }

    h1,h2 {
        color:rgb(255, 255, 255);
        text-align: center;
        font-size: 1.5cm;
        font-family: fantasy;

    }

    p{
        color:rgb(255, 255, 255);
        font-size: 200%;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    }


    .dotatexto{
        -webkit-margin-before: 1em;

    }

    figure{
        width: 100%;
        text-align: center; 
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    figcaption{
        font-size: 150%;
        color:white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: center;
        -webkit-margin-after: 1em; 
    }

    * {
        box-sizing: border-box;
      }
      
      .column {
        float: left;
        width: 33.33%;
        padding: 5px;
      }
      
      .row::after {
        content: "";
        clear: both;
        display: table;
      }

    
    html{
        scroll-behavior: smooth;

    }

    .imggeral{
        float: right;
        width: 25%;
        margin-left: 10px;
    }

    header,footer{
        background-color: rgb(18, 18, 19);
        padding: 1%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.5em;
        font-weight: bolder;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    footer{
        color: white;

    }

    .fixo{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1030;
    }

        .container{
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            position: relative;
    }

        .ajustes{
            line-height: 1;
            text-align: center;
            
        }

        .menu-opcoes{
            text-align: center;

        }

        a:link{
			text-decoration: none;
            color:rgb(255, 255, 255);
            transition: 0.5s;

		}

        a:visited{
            color: rgb(255, 255, 255);
        }

        a:hover{
            color: rgb(194, 35, 35);
            transition: 0.5s;
        }

        .imglogo{
            width: 30%;

        }
        

@media screen and (max-width: 599px){
    .container{
        margin-top: 70%;
    }

    .paada{
        width: 80%;
    }

    .imggeral{
        width: 50%;
    }

    .imglogo{
        width: 80%;

    }
}

@media screen and (min-width: 600px){
    .container{
        margin-top: 25%;
    }
}

@media only screen and (min-width: 768px){
    .container{
        margin-top: 15%;
    }

    header{
        flex-direction: row;
        position: relative;

    }

    .menu-opcoes{
        position: absolute;
        right: 5%;
        top: 45%;

    }

    .menu-opcoes ul li{
        display:inline;
        margin-left: 10px;
    }

    p{
        text-align: justify;
    }

    .imglogo{
        margin-right: 60%;
    }

}